body {
	margin: 0px;
}

h1 {
color: rgb(39,204,192);
font-family: pacifico ;
}

#conteneur
{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;

}

p {
	color: rgb(195,204,203);
}

#vertlégumes {
	color: rgb(189, 214, 47);
}

.superImg{
	background-image: url("images/Photo Site Atelier V10.png");
	line-height: 320px;
	background-repeat: no-repeat;
	background-size: width:"1080"; height: "350";
}

.box {
	border: 1px solid green;

}

#footer a {
  color: lightgrey;
  font-size: 15px;
}
#footer a:hover {
  color: white;
}

#Photoarrivée {
	display: 
}
